<section class="p-topConcept01" data-target="topConcept01" data-menuColor="#FFFFFF">
    <div class="block scroll" data-target="scrollTarget">
        <div class="area title" data-target="titleTarget">
            <h2 class="topSectionTitle01">CONCEPT</h2>
            <p class="text">初めて１年間、続いた手帳</p>
        </div>
        <div class="area items" data-target="itemsTarget">
            <div class="item" data-target="item">
                <div class="content">
                    <div class="bg">
                        <%- include('../../../_components/_common/_image/index.ejs', { 
                            imagePath: '/assets/image/top/top_concept_bg01.png',
                            alt: '',
                            sizes: '100vw',
                            baseWidth: 2880
                        }) %>
                       <%- include('../../../_components/_common/_image/index.ejs', { 
                            imagePath: '/assets/image/top/top_concept_overlay.png',
                            alt: '',
                            sizes: '30vw',
                            baseWidth: 2880
                        }) %>
                    </div>
                    <div class="textBox">
                        <h3 class="title">もう「どうせ続かない」と諦めていた人が選ぶ。<br>
                            楽しいから、自然と続く。続くから自分が好きになる。</h3>
                    </div>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <div class="bg">
                        <%- include('../../../_components/_common/_image/index.ejs', { 
                            imagePath: '/assets/image/top/top_concept_bg02.png',
                            alt: '',
                            sizes: '100vw',
                            baseWidth: 2880
                        }) %>
                        <%- include('../../../_components/_common/_image/index.ejs', { 
                            imagePath: '/assets/image/top/top_concept_overlay.png',
                            alt: '',
                            sizes: '30vw',
                            baseWidth: 2880
                        }) %>
                    </div>
                    <div class="textBox">
                        <h3 class="title"><span>01</span>やりたいことを先に書くワクワクリスト</h3>
                        <p class="text">心が動いたことを、まず書いてみる。「やらなきゃ」じゃなく、<br>
                            「やってみたい」から毎日が動き出します。</p>
                    </div>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <div class="bg">
                        <%- include('../../../_components/_common/_image/index.ejs', { 
                            imagePath: '/assets/image/top/top_concept_bg03.png',
                            alt: '',
                            sizes: '100vw',
                            baseWidth: 2880
                        }) %>
                        <%- include('../../../_components/_common/_image/index.ejs', { 
                            imagePath: '/assets/image/top/top_concept_overlay.png',
                            alt: '',
                            sizes: '30vw',
                            baseWidth: 2880
                        }) %>
                    </div>
                    <div class="textBox">
                        <h3 class="title"><span>02</span>24時間×7日のウィークリーバーチカル</h3>
                        <p class="text">1週間をひと目で見渡せる、24時間軸のスケジュールページ。</p>
                    </div>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <div class="bg">
                        <%- include('../../../_components/_common/_image/index.ejs', { 
                            imagePath: '/assets/image/top/top_concept_bg04.png',
                            alt: '',
                            sizes: '100vw',
                            baseWidth: 2880
                        }) %>
                        <%- include('../../../_components/_common/_image/index.ejs', { 
                            imagePath: '/assets/image/top/top_concept_overlay.png',
                            alt: '',
                            sizes: '30vw',
                            baseWidth: 2880
                        }) %>
                    </div>
                    <div class="textBox">
                        <h3 class="title"><span>03</span>4</h3>
                        <p class="text">44444444444444</p>
                    </div>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <div class="bg">
                        <%- include('../../../_components/_common/_image/index.ejs', { 
                            imagePath: '/assets/image/top/top_concept_bg05.png',
                            alt: '',
                            sizes: '100vw',
                            baseWidth: 2880
                        }) %>
                        <%- include('../../../_components/_common/_image/index.ejs', { 
                            imagePath: '/assets/image/top/top_concept_overlay.png',
                            alt: '',
                            sizes: '30vw',
                            baseWidth: 2880
                        }) %>
                    </div>
                    <div class="textBox">
                        <h3 class="title"><span>04</span>5</h3>
                        <p class="text">アイテム5</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>