<section class="c-topConcept01" data-target="topConcept01" data-menuColor="#FFFFFF">
    <div class="block scroll" data-target="scrollTarget">
        <div class="area items" data-target="itemsTarget">
            <div class="item" data-target="item">
                <div class="content">
                    <div class="bg">
                        <%- include('../../_common/_image/index.ejs', { 
                            imagePath: './assets/image/top/top_concept_bg01.png',
                            alt: '',
                            sizes: '100vw',
                            baseWidth: 2880
                        }) %>
                       <%- include('../../_common/_image/index.ejs', { 
                            imagePath: './assets/image/top/top_concept_overlay.png',
                            alt: '',
                            sizes: '30vw',
                            baseWih: 2880
                        }) %>
                    </div>
                    <p>アイテム1</p>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <div class="bg">
                        <%- include('../../_common/_image/index.ejs', { 
                            imagePath: './assets/image/top/top_concept_bg02.png',
                            alt: '',
                            sizes: '100vw',
                            baseWidth: 2880
                        }) %>
                        <%- include('../../_common/_image/index.ejs', { 
                            imagePath: './assets/image/top/top_concept_overlay.png',
                            alt: '',
                            sizes: '30vw',
                            baseWidth: 2880
                        }) %>
                    </div>
                    <p>アイテム2</p>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <div class="bg">
                        <%- include('../../_common/_image/index.ejs', { 
                            imagePath: './assets/image/top/top_concept_bg03.png',
                            alt: '',
                            sizes: '100vw',
                            baseWidth: 2880
                        }) %>
                        <%- include('../../_common/_image/index.ejs', { 
                            imagePath: './assets/image/top/top_concept_overlay.png',
                            alt: '',
                            sizes: '30vw',
                            baseWidth: 2880
                        }) %>
                    </div>
                    <p>アイテム3</p>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <div class="bg">
                        <%- include('../../_common/_image/index.ejs', { 
                            imagePath: './assets/image/top/top_concept_bg04.png',
                            alt: '',
                            sizes: '100vw',
                            baseWidth: 2880
                        }) %>
                        <%- include('../../_common/_image/index.ejs', { 
                            imagePath: './assets/image/top/top_concept_overlay.png',
                            alt: '',
                            sizes: '30vw',
                            baseWidth: 2880
                        }) %>
                    </div>
                    <p>アイテム4</p>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <div class="bg">
                        <%- include('../../_common/_image/index.ejs', { 
                            imagePath: './assets/image/top/top_concept_bg05.png',
                            alt: '',
                            sizes: '100vw',
                            baseWidth: 2880
                        }) %>
                        <%- include('../../_common/_image/index.ejs', { 
                            imagePath: './assets/image/top/top_concept_overlay.png',
                            alt: '',
                            sizes: '30vw',
                            baseWidth: 2880
                        }) %>
                    </div>
                    <p>アイテム5</p>
                </div>
            </div>
        </div>
    </div>
</section>