<section class="c-sideFixed01 p-topNews01" data-target="sideFixedTarget">
    <div class="componentWrapper">
        <div class="block menu" data-target="fixedTarget">
            <div class="area contents">
                <h3 class="title">
                    <span class="en">NEWS</span>
                    <span class="jp">最新情報</span>
                </h3>
                <ul class="list">
                    <li>ALL</li>
                    <li>NEWS</li>
                    <li>INFORMATION</li>
                    <li>ETC</li>
                </ul>

                <p class="btn">
                    <a href="">SEE ALL</a>
                </p>
            </div>
        </div>
        <div class="block contents" data-target="contentsTarget">
            <div class="item" data-target="item">
                <div class="textBox">
                    <div class="top">
                        <p class="date">2025.06.26</p>
                        <p class="tag">NEWS</p>
                    </div>
                    <h4 class="title">記事タイトルが入ります</h4>
                    <p class="text">毎日を少しずつ整える。書くことが、心地よい習慣になる。自分らしく生きられる手帳。毎日を少しずつ整える。</p>
                </div>
                <div class="image">
                     <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_howto_image01.png',
                        alt: '',
                        sizes: '20vw',
                        baseWidth: 720
                    }) %>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="textBox">
                    <div class="top">
                        <p class="date">2025.06.26</p>
                        <p class="tag">NEWS</p>
                    </div>
                    <h4 class="title">記事タイトルが入ります</h4>
                    <p class="text">毎日を少しずつ整える。書くことが、心地よい習慣になる。自分らしく生きられる手帳。毎日を少しずつ整える。</p>
                </div>
                <div class="image">
                     <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_howto_image01.png',
                        alt: '',
                        sizes: '20vw',
                        baseWidth: 720
                    }) %>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="textBox">
                    <div class="top">
                        <p class="date">2025.06.26</p>
                        <p class="tag">NEWS</p>
                    </div>
                    <h4 class="title">記事タイトルが入ります</h4>
                    <p class="text">毎日を少しずつ整える。書くことが、心地よい習慣になる。自分らしく生きられる手帳。毎日を少しずつ整える。</p>
                </div>
                <div class="image">
                     <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_howto_image01.png',
                        alt: '',
                        sizes: '20vw',
                        baseWidth: 720
                    }) %>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="textBox">
                    <div class="top">
                        <p class="date">2025.06.26</p>
                        <p class="tag">NEWS</p>
                    </div>
                    <h4 class="title">記事タイトルが入ります</h4>
                    <p class="text">毎日を少しずつ整える。書くことが、心地よい習慣になる。自分らしく生きられる手帳。毎日を少しずつ整える。</p>
                </div>
                <div class="image">
                     <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_howto_image01.png',
                        alt: '',
                        sizes: '20vw',
                        baseWidth: 720
                    }) %>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="textBox">
                    <div class="top">
                        <p class="date">2025.06.26</p>
                        <p class="tag">NEWS</p>
                    </div>
                    <h4 class="title">記事タイトルが入ります</h4>
                    <p class="text">毎日を少しずつ整える。書くことが、心地よい習慣になる。自分らしく生きられる手帳。毎日を少しずつ整える。</p>
                </div>
                <div class="image">
                     <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_howto_image01.png',
                        alt: '',
                        sizes: '20vw',
                        baseWidth: 720
                    }) %>
                </div>
            </div>
        </div>
    </div>
</section>