<section class="p-topMainvisual01" data-target="topMainvisual01" data-importantHidden>
    <div class="block contents" data-target="contentsTarget" data-imageCtrl data-transitonEndCtrl>
        <div class="area bg">
            <div class="item image1">
                <%- include('../../../_components/_common/_image/index.ejs', { 
                    imagePath: '/assets/image/top/top_mainvisual_bg01.png',
                    alt: 'メインビジュアル',
                    sizes: '100vw',
                    baseWidth: 2800
                }) %>
            </div>
            <div class="item image2">
                <%- include('../../../_components/_common/_image/index.ejs', { 
                    imagePath: '/assets/image/top/top_mainvisual_bg02.png',
                    alt: 'メインビジュアル',
                    sizes: '100vw',
                    baseWidth: 2800
                }) %>
            </div>
            <div class="item image3">
                <%- include('../../../_components/_common/_image/index.ejs', { 
                    imagePath: '/assets/image/top/top_mainvisual_bg03.png',
                    alt: 'メインビジュアル',
                    sizes: '100vw',
                    baseWidth: 2800
                }) %>
            </div>
            <div class="item image4">
                <%- include('../../../_components/_common/_image/index.ejs', { 
                    imagePath: '/assets/image/top/top_mainvisual_bg04.png',
                    alt: 'メインビジュアル',
                    sizes: '100vw',
                    baseWidth: 2800
                }) %>
            </div>
            <div class="item image5">
                <%- include('../../../_components/_common/_image/index.ejs', { 
                    imagePath: '/assets/image/top/top_mainvisual_bg05.png',
                    alt: 'メインビジュアル',
                    sizes: '100vw',
                    baseWidth: 2800
                }) %>
            </div>
        </div>
        <div class="area btn" data-imageCtrl data-transitonEndCtrl>
        </div>
        <div class="area scroll">
            <p class="text">SCROLL</p>
        </div>
        <div class="area lead">
            <p class="logo">
                <img src="/assets/image/common/common_logo.svg" alt="CITTA DIARY">
            </p>
            <h2 class="text">毎日を少しずつ整える。<br>書くことが、心地よい習慣になる。</h2>
        </div>
    </div>
</section>