<section class="p-topDiary01 first color01" data-target="topDiary01" data-leftArrowCtrl data-rightArrowCtrl data-colorCtrl>
    <div class="block contents" data-target="contentsTarget">
        <div class="area title">
            <%- include('../_topSectionTitle01/index.ejs', { 
                title: 'CITTA DIARY 2025-26',
                text: '〈本体のみ A5サイズ〉'
            }) %>
        </div>
        <div class="area contents">
            <div class="textBox first" data-leftArrowCtrl data-rightArrowCtrl>
                <p class="text first">「自分の好きなカバーで手帳を彩りたい」そんな方のために、あえてシンプルな「CITTA手帳」をご用意しました。やさしいクリーム色の表紙に、しおり無しの仕様。どんなカバーにもなじみ、自分らしく一年を描ける一冊です。</p>
                <p class="text second">このページこそが、CITTA手帳の真骨頂。ウィークリーは、24時間のバーチカル時間軸で、自分の1週間を“ひと目で”俯瞰できるのが最大の魅力です。毎朝、「本当は何時に起きたい？」と自分に問いかけて、その時間をまず書いてみましょう。</p>
                <p class="text third">ワクワクリストが、すべての原動力！ まずは「やりたい！」と思うことをすべて書き出しましょう。 プライベートも仕事も家庭のことも、大小・期間を問わずなんでもOK。</p>
                <p class="text fourth">見通し感を持つために２ヶ月見渡せるマンスリーにしてあります。ここには時間を書かないようにしましょう。書いてしまうと後ろの時間軸を全く使わなくなってしまいます。</p>
                <p class="text fifth">ここは自分の目標を２ヶ月で見渡したいときにピッタリです。 取りたい資格の試験日から逆算して勉強の計画を書くのもいいです。 毎日つけるダイエットの体重管理にも適しています。</p>
                <p class="text sixth">年表カレンダーは3年分の連休が一目で分かり、長期の予定を立てやすいのが特徴です。理想の年間計画や家族の予定を書き込み、あらかじめ休みを決めるなど、さまざまな使い方ができます。</p>
            </div>
            <div class="btnBox">
                <p class="price">
                    <span class="value">2,200</span>
                    <span class="text">円（税込）</span>
                </p>
                <%- include('../../../_components/_common/_btn01/index.ejs', { 
                    btnClass: 'btn is-black',
                    btnHref: '/product/',
                    btnText: 'BUY'
                }) %>
            </div>
        </div>
        <div class="area image first color01" data-leftArrowCtrl data-rightArrowCtrl data-colorCtrl>
            <div class="image first">
                <span class="image color01">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image01_yellow.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color02">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image01_rose.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color03">color03 image01</span>
                <span class="image color04">color04 image01</span>
                <span class="image color05">color05 image01</span>
            </div>
            <div class="image second">
                <span class="image color01">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image02_yellow.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color02">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image02_rose.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color03">color03 image02</span>
                <span class="image color04">color04 image02</span>
                <span class="image color05">color05 image02</span>
            </div>
            <div class="image third">
                <span class="image color01">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image03_yellow.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color02">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image03_rose.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color03">color03 image03</span>
                <span class="image color04">color04 image03</span>
                <span class="image color05">color05 image03</span>
            </div>
            <div class="image fourth">
                <span class="image color01">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image04_yellow.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color02">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image04_rose.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color03">color03 image04</span>
                <span class="image color04">color04 image04</span>
                <span class="image color05">color05 image04</span>
            </div>
            <div class="image fifth">
                <span class="image color01">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image05_yellow.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color02">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image05_rose.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color03">color03 image05</span>
                <span class="image color04">color04 image05</span>
                <span class="image color05">color05 image05</span>
            </div>
            <div class="image sixth">
                <span class="image color01">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image06_yellow.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color02">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/top/top_diary_image06_rose.png',
                        alt: '',
                        sizes: '100vw',
                        baseWidth: 1600
                    }) %>
                </span>
                <span class="image color03">color03 image06</span>
                <span class="image color04">color04 image06</span>
                <span class="image color05">color05 image06</span>
            </div>
            
        </div>
        <div class="area color color01" data-colorCtrl>
            <button class="circle color01" data-target="color01"></button>
            <button class="circle color02" data-target="color02"></button>
            <button class="circle color03" data-target="color03"></button>
            <button class="circle color04" data-target="color04"></button>
            <button class="circle color05" data-target="color05"></button>
        </div>

        <div class="area arrow">
            <button class="arrow left" data-target="leftArrow"></button>
            <button class="arrow right" data-target="rightArrow"></button>
        </div>
    </div>
</section>